@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.CodeAnalysis.CSharp.Syntax
@inject NavigationManager _navigation
@inject AuthenticationStateProvider _authenticationStateProvider
@inject SignOutSessionStateManager _signOutManager
@inject HttpClient _httpClient


<AuthorizeView>
    <Authorized>
        <Button @onclick="BeginSignOut" Type="@ButtonType.Primary">Se déconnecter</Button>
        <Popover OnVisibleChange="OnVisibleChange" Visible="_visible" ContentTemplate="_content" Title="Hello world" Trigger="@(new[] {Trigger.Click})">
            <div class="d-flex justify-content-center align-items-center h-auto hovered-color-blue container" role="button" @onclick="_ => _visible = !_visible">
                <span class="d-flex flex-column justify-content-end">
                    <span class="text-white text-truncate">@context.User.Identity.Name</span>
                    <span class="text-white text-truncate">@Points points</span>
                </span>
                <Avatar Style="@($"background-color: {color}; vertical-align: middle;")" Size="large">
                    @context.User.Identity.Name[0]
                </Avatar>
            </div>
        </Popover>
    </Authorized>

    <NotAuthorized>
        <a href="authentication/register">S'enregistrer</a>
        <a href="authentication/login">Se connecter</a>
    </NotAuthorized>
</AuthorizeView>

@code {

    public string color { get; set; } = "#c4c4c4";
    public int Points { get; set; } = -1;


    private RenderFragment _content =
        @<div>
            <p>Hello world</p>
            <a href="/Settings"><Button Type="@ButtonType.Primary">Settings</Button></a>
            @*<a href="/" class="btn btn-primary" @onclick="EventCallback.Factory.Create<MouseEventArgs>(this, args => BeginSignOut(args) ">Sign out</a>*@
        </div>;


    private bool _visible = false;

    protected override async Task OnInitializedAsync()
    {
        var authenticatedState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        var email = authenticatedState.User.Identity.Name;

        Points = await _httpClient.GetFromJsonAsync<int>($"api/UserPoints?email={email}");
    }

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    void OnVisibleChange(bool visible)
    {
        _visible = visible;
    }


    private async Task BeginSignOut(MouseEventArgs args)
    {
        await _signOutManager.SetSignOutState();
        _navigation.NavigateTo("authentication/logout");
    }

}