@using PlanetSalvator.Web.Shared
<h1>@Quiz.Question</h1>
<div>
    <RadioGroup @bind-Value="@radioValue">
        <Radio Style="@style" Value="@("A")">@Quiz.AnswerA</Radio>
        <Radio Style="@style" Value="@("B")">@Quiz.AnswerB</Radio>

        @if (Quiz.AnswerC is not null)
        {
            <Radio Style="@style" Value="@("C")">@Quiz.AnswerC</Radio>
        }
        @if (Quiz.AnswerD is not null)
        {
            <Radio Style="@style" Value="@("D")">@Quiz.AnswerD</Radio>
        }
    </RadioGroup>
</div>
<br/>
<Button Type="@ButtonType.Primary">Valider</Button>

@code
{
    [Parameter]
    public Quiz Quiz { get; set; }

    string radioValue = "value";
    readonly string style = "display: block;height:30px;line-height:30px";
}