<h1>@QuizProp.Question</h1>
<div>
    <RadioGroup @bind-Value="@radioValue">
        <Radio Style="@style" Value="@("A")">@QuizProp.AnswerA</Radio>
        <Radio Style="@style" Value="@("B")">@QuizProp.AnswerB</Radio>

        @if (QuizProp.AnswerC is not null)
        {
            <Radio Style="@style" Value="@("C")">@QuizProp.AnswerC</Radio>
        }
        @if (QuizProp.AnswerD is not null)
        {
            <Radio Style="@style" Value="@("D")">@QuizProp.AnswerD</Radio>
        }
    </RadioGroup>
</div>
<br/>
<Button Type="@ButtonType.Primary" @onclick="Submit">Valider</Button>

@code
{
    string radioValue = "A";
    readonly string style = "display: block;height:30px;line-height:30px";
}